<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Download Anime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        const scrape_fitgirl = require('../../scrapers/scraper_fitgirl.js');
    </script>
</head>

<body>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" id="searchTerm" placeholder="Search..." />
            <button type="button" onclick="scrape_fitgirl(this.parentNode)" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div id="result"></div>
</body>

</html>