<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Download Anime</title>
    <script>
        if (typeof module === 'object') {window.module = module; module = undefined;}
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        const scrapeSites = require('../../scrapers/base_scraper.js');
    </script>
    <script>if (window.module) module = window.module;</script>
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
        </li>
    </ul>

    <div class="wrap">
        <div class="input-group search">
            <input type="text" class="searchTerm form-control" placeholder="Search..." />
            <div class="input-group-append">
                <select class="form-control selectWebsite" name="selectWebsite">
                    <option selected value="all">All</option>
                    <option value="scraper_fitgirl">Fitgirl</option>
                    <option value="scraper_steamunlocked">Steam Unlocked</option>
                </select>
                <button type="button" class="searchButton" onclick="scrapeSites()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="result"></div>
</body>

</html>